{% extends 'stdgrid.html.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block body %}
    <section class="frame-section">
        <form class="section-form" method="post">
            {{ form_start(registration_form) }}
            {{ form_errors(registration_form) }}
            <fieldset class="container-block">
                <legend class="section-form-legend">
                    <h1>{% trans %}Register{% endtrans %}</h1>
                </legend>

                {% for flashError in app.flashes('verify_email_error') %}
                    <label class="alert alert-danger" role="alert">{{ flashError }}</label>
                {% endfor %}

                {% for flashError in app.flashes('verify_nickname_error') %}
                    <label class="alert alert-danger" role="alert">{{ flashError }}</label>
                {% endfor %}

                {{ form_row(registration_form.nickname) }}
                {{ form_row(registration_form.email) }}
                {{ form_row(registration_form.password) }}
                {{ form_row(registration_form.register) }}
            </fieldset>
            {{ form_end(registration_form) }}
        </form>

    </section>
{% endblock body %}

{% block javascripts %}{% endblock %}
