{% extends 'base.html.twig' %}
{% import "/cards/macros/note/factory.html.twig" as NoteFactory %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/default_theme/feeds.css') }}" type="text/css">
{% endblock stylesheets %}

{% block body %}
    {% if tag_name is defined and tag_name is not null %}
        {% if tag_name is instanceof('string') %}
            <h1>{% trans %}Notes with tag: %tag_name%{% endtrans %}</h1>
        {% else %}
            {% set tags = tag_name|join(', ') %} {# TODO Not ideal, hard to translate #}
            <h1>{% trans %}People with tags: %tags%{% endtrans %}</h1>
        {% endif %}
    {% endif %}

    {% for pinned in handle_event('AddPinnedFeedContent', app.request) %}
        {% include pinned['template'] with { 'note_tags': pinned['vars']} only %}
    {% endfor %}

    {% for note in results %}
        {% block current_note %}
            {% set args = { 'type': 'vanilla_full', 'note': note, 'extra': { 'depth': 0 } } %}
            {{ NoteFactory.constructor(args) }}
        {% endblock current_note %}
    {% endfor %}

    <div class="frame-section-button-like">
        {{ "Page " ~ page }}
    </div>
{% endblock %}
