{% extends '/collection/notes.html.twig' %}

{% block title %}{% trans %}%page_title%{% endtrans %}{% endblock %}

{% block body %}
    <div class="frame-section frame-section-padding">
        <h2 class="frame-section-title">{% trans %}%page_title%{% endtrans %}</h2>
        {% block collection_items %}
        {% endblock collection_items %}
    </div>
{% endblock body %}
