<details class="details-summary-title">
    <summary>{{ title }}</summary> {# User provided title, do not translate #}
    <a href="{{ url }}" rel="noopener noreferrer">{{ url }}</a>
    <p>{{ description }}</p> {# Likewise for the description, which may be empty #}
</details>
