<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin Configuration page!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <style>
        body {
            background-color: #333;
            color: #ddd;
        }
    </style>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

{{ form(form) }}

{% if old_value is defined and default is defined %}
    Old value: {{ old_value }} <br>
    Default value: {{ default }}
    Configuration dumped to <code> social.local.yaml </code>
    Backup of previous configuration in <code> social.local.yaml.orig </code> will be overridden with the next change
{% endif %}
</body>
</html>
