{% extends 'base.html.twig' %}

{% block body %}
    <div class="frame-section frame-section-padding">
        <h3>{% trans %}Put the languages in the order you'd like to see them in your language selection dropdown, when posting{% endtrans %}</h3>
        {{ form(form) }}
    </div>
{% endblock %}
