{% for tab in tabs %}
    <li>
        {% set icon = tab['icon'] %}
        <a href="{{ tab.url }}" title="{% if tab.active %}{% trans %}Hide %icon%{% endtrans %}{% else %}{% trans %}Show %icon%{% endtrans %}{% endif %}">
            {{ icon }}
            <span class="icon {{ tab.active ? 'icon-eye-opened' : 'icon-eye-closed' }}"></span>
        </a>
    </li>
{% endfor %}
