{% import '/cards/macros/note/factory.html.twig' as NoteFactory %}
<section class="note-replies" title="{% trans %}Replies to %nickname%'s note{% endtrans %}">
  <div class="note-replies-start"></div>
  <div class="u-in-reply-to replies">
    {% for reply in conversation.replies %}
      <span class="note-replies-indicator" role="presentation"></span>
      {% set args = reply | merge({ 'type': 'vanilla_full'}) %}
      {{ NoteFactory.constructor(args) }}
    {% endfor %}
    {% if conversation.show_more %}
      <a href="{{ conversation.note.getConversationUrl() }}">
        {{ trans({
          '1': 'Show an additional reply',
          'other': 'Show # additional replies'
        }, {'count': (conversation.total_replies - config('plugin_tree_notes', 'feed_replies'))}) }}
      </a>
    {% endif %}
  </div>
</section>
