details summary > *,
menu,
ul {
    margin: unset;
    padding: unset;
}

details > summary,
menu,
ul {
    list-style: none;
}

:link,
:visited,
ul {
    text-decoration: none;
}

.header-title,
.page-content-wrapper {
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.header-title,
.page-header .header-title {
    text-align: center;
}

fieldset,
hr {
    all: unset;
}

hr,
p {
    margin-bottom: var(--font-size-sm);
}

* {
    box-sizing: border-box !important;
    max-width: 100%;
}

body,
html {
    align-self: center;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-attachment: fixed;
    background-color: var(--background-hard);
}

body,
input,
select,
textarea {
    color: var(--foreground);
}

:link,
:visited {
    color: currentColor;
}

li,
ul {
    margin: 0;
    padding: 0;
}

blockquote,
body,
fieldset,
form,
html,
input,
pre,
textarea {
    border: 0;
    margin: 0;
    padding: 0;
}

:link img,
:visited img,
a img {
    border: 0;
}

address {
    font-style: normal;
}

:focus {
    outline: 0;
}

::-moz-focus-inner {
    border: 0;
}

details summary {
    cursor: pointer !important;
}

details > summary::-webkit-details-marker {
    display: none;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    line-height: 1.5em;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

p {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Poppins, sans-serif;
    margin: var(--font-size-base) 0 var(--font-size-sm);
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
legend:first-child {
    margin-top: initial;
}

.doc-navigation {
    font-size: 1.383em;
    font-weight: 700;
    margin-top: 0;
}

.page-content,
hr {
    margin-top: var(--font-size-sm);
}

h1 {
    font-size: var(--font-size-lg);
    font-weight: 900;
}

h2 {
    font-size: var(--font-size-lg);
    font-weight: 800;
}

label,
legend {
    font-weight: 500;
}

h3 {
    font-size: var(--font-size-md);
    font-weight: 700;
}

h4 {
    font-size: var(--font-size-md);
    font-weight: 600;
}

h5 {
    font-size: var(--font-size-base);
    font-weight: 500;
}

.text_small,
small {
    font-size: var(--font-size-sm);
}

label,
legend {
    font-size: var(--font-size-base);
}

input[type="password"],
input[type="text"],
textarea {
    padding: 6px 8px;
}

a:focus,
a:hover {
    text-decoration: underline;
}

:focus-visible {
    box-shadow: var(--shadow-inset-accent) !important;
}

html {
    font-family: "Open Sans", sans-serif;
    background-image: url(images/noise.png);
    background-blend-mode: soft-light;
}

.accessibility-menu {
    background-color: var(--background-hard) !important;
    border: 2px solid var(--border);
    border-radius: var(--font-size-sm);
    display: block;
    height: min-content;
    left: -90%;
    padding: var(--font-size-sm);
    position: absolute;
    top: -90%;
    width: 30%;
    z-index: 999;
}

.doc-navigation,
.markdown-blocks {
    background-color: var(--background-card) !important;
    padding: var(--font-size-sm);
}

.accessibility-menu ul {
    list-style-type: disc;
    margin-left: var(--font-size-base);
}

.accessibility-menu:focus-within:not(:active) {
    left: var(--font-size-sm);
    top: var(--font-size-sm);
}

.active {
    font: 900 1em "Open Sans", sans-serif;
}

.anchor-hidden {
    height: 1px;
    overflow: hidden;
    width: 1px;
}

.doc-navigation {
    border-bottom: 0;
    border-radius: var(--font-size-sm) var(--font-size-sm) 0 0;
}

.doc-navigation ul {
    display: flex;
}


.icon {
    fill: var(--foreground);
    height: 1em;
    width: 1em;
    vertical-align: center;
    font-size: initial;
}
.markdown-blocks {
    border-radius: 0 0 var(--font-size-sm) var(--font-size-sm);
}

.markdown-blocks ul {
    list-style: disc;
    margin-left: 1em;
}

.markdown-blocks ul li {
    margin-bottom: 0.2em;
}

.page-content {
    width: 100%;
}

.page-content-wrapper {
    padding: var(--font-size-sm) var(--font-size-sm) 0;
    position: relative;
    top: calc(2 * var(--font-size-sm) + var(--font-size-lg));
}

.page-header,
.section-panel {
    padding: var(--font-size-sm);
    position: fixed;
}

.page-header {
    display: inline-flex;
    background: var(--background-card);
    box-shadow: var(--shadow);
    height: calc(2 * var(--font-size-sm) + var(--font-size-lg));
    top: 0;
    z-index: 1;
}

.page-header h1 {
    display: inline-flex;
    margin: unset;
}

.page-header h1 svg {
    margin-right: 6px;
    font-size: inherit;
}

.page-header #toggle-panel-left {
    float: left;
}

.page-header #toggle-panel-right {
    float: right;
}

.section-panel {
    overflow: auto;
    top: calc(2 * var(--font-size-sm) + var(--font-size-lg));
    height: calc(100vh - (2 * var(--font-size-base) + var(--font-size-lg)));
}

.section-panel .panel-content {
    display: block;
    overflow: auto;
}

.section-panel-left {
    left: 0;
}

.section-panel-right {
    right: 0;
}

.panel-left-icon,
.panel-right-icon {
    align-self: self-end;
}

.footer {
    bottom: 0;
}

hr {
    background-color: var(--border) !important;
    display: block;
    height: 1px;
}

@media only screen and (max-width: 512px) {
    html {
        font-size: 85%;
    }
}

@media only screen and (max-width: 1280px) {
    #toggle-panel-left:checked ~ .section-panel-left,
    #toggle-panel-right:checked ~ .section-panel-right {
        background-color: var(--background-hard);
        box-shadow: var(--shadow);
        left: 0;
        width: 100vw;
        z-index: auto;
    }

    #toggle-panel-left:not(:checked) ~ .section-panel-left,
    #toggle-panel-right:not(:checked) ~ .section-panel-right {
        display: none;
    }

    .page-content {
        max-width: 100%;
    }

    .page-content-wrapper,
    .page-header {
        width: 100%;
    }

    input[id|="toggle-panel"] {
        position: absolute;
        top: -100%;
    }

    label[for|="toggle-panel"] {
        cursor: pointer;
    }
}

@media only screen and (min-width: 1281px) {
    .page-content-wrapper {
        width: 66vw;
    }

    .page-header {
        width: 100%;
    }

    .section-panel {
        width: 17vw;
    }

    a[id|="anchor"]:target + .accessibility-target {
        animation-duration: 0.6s;
        animation-name: highlight;
        animation-timing-function: ease-in-out;
    }

    input[id|="toggle-panel"],
    label[for|="toggle-panel"] {
        display: none !important;
    }
}

@media only screen and (min-width: 1921px) {
    .page-content-wrapper {
        width: 44vw;
    }

    .page-header {
        width: 66vw;
    }

    .section-panel {
        width: 11vw;
    }

    .page-header,
    .section-panel-left {
        left: 17vw;
    }

    .section-panel-right {
        right: 17vw;
    }

    input[id|="toggle-panel"],
    label[for|="toggle-panel"] {
        display: none !important;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: unset;
        transform: none;
    }
}

@keyframes fadeOut {
    0% {
        opacity: unset;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes highlight {
    0%,
    100% {
        border-radius: var(--font-size-sm);
        box-shadow: initial;
    }
    50% {
        border-radius: var(--font-size-sm);
        box-shadow: inset 0 20px 40px #fff;
        transition: box-shadow 0.3s ease-in-out;
        z-index: 666;
    }
}
