@media (prefers-color-scheme: dark) {
    :root {
        --accent: #5ddbcf;
        --background-card: #0e0e0f;
        --background-checkerboard: repeating-conic-gradient(#ffffff66 0 90deg, #ffffff33 0 180deg) 0 0/40px 40px round;
        --background-hard: #0e0e0f;
        --border: #26262c;
        --foreground: #eff0f1;
        --gradient: linear-gradient(5deg, var(--border) -33%, transparent 66%) !important;
        --gradient-backwards: linear-gradient(-5deg, var(--border) -33%, transparent 66%) !important;
        --shadow: 0 5px 20px -10px rgba(255, 255, 255, .1) !important;
        --shadow-inset-accent: inset 0 0 0 2px var(--accent);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --accent: #a22430;
        --background-card: #f0f0f0;
        --background-checkerboard: repeating-conic-gradient(#ffffff66 0 90deg, #ffffff33 0 180deg) 0 0/40px 40px round;
        --background-hard: #ebebeb;
        --border: #c2c2c2;
        --foreground: #09090d;
        --gradient: linear-gradient(10deg, var(--background-hard) 0, transparent) !important;
        --gradient-backwards: linear-gradient(290deg, var(--background-hard) 0, var(--background-card) 100%) !important;
        --shadow: 0 5px 20px -10px rgba(0, 0, 0, .1) !important;
        --shadow-inset-accent: inset 0 0 0 2px var(--accent);
    }
}

/* Fluid font size variables, for browsers that support clamp */
/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
        --font-size-sm: clamp(0.9rem, -0.11vw + 0.93rem, 0.8rem);
        --font-size-base: clamp(1.13rem, -0.13vw + 1.16rem, 1rem);
        --font-size-md: clamp(1.41rem, -0.16vw + 1.45rem, 1.25rem);
        --font-size-lg: clamp(1.76rem, -0.21vw + 1.81rem, 1.56rem);
        --font-size-xl: clamp(2.2rem, -0.26vw + 2.26rem, 1.95rem);
        --font-size-xxl: clamp(2.75rem, -0.32vw + 2.83rem, 2.44rem);
        --font-size-xxxl: clamp(3.43rem, -0.4vw + 3.53rem, 3.05rem);
    }
}
/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
        --font-size-sm: 0.9rem;
        --font-size-base: 1.13rem;
        --font-size-md: 1.41rem;
        --font-size-lg: 1.76rem;
        --font-size-xl: 2.2rem;
        --font-size-xxl: 2.75rem;
        --font-size-xxxl: 3.43rem;
    }
    @media screen and (min-width: 1920px) {
        :root {
            --font-size-sm: 0.8rem;
            --font-size-base: 1rem;
            --font-size-md: 1.25rem;
            --font-size-lg: 1.56rem;
            --font-size-xl: 1.95rem;
            --font-size-xxl: 2.44rem;
            --font-size-xxxl: 3.05rem;
        }
    }
}