{% extends 'stdgrid.html.twig' %}
{% import "/cards/macros/note/factory.html.twig" as NoteFactory %}

{% set nickname = note.getActorNickname() %}
{% block title %}{% trans %}Remove repeat from %nickname%'s note{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/default_theme/feeds.css') }}" type="text/css">
{% endblock stylesheets %}

{% block body %}
    {{ parent() }}
    <div class="page">
        <div class="main">
            {% set args = { 'type': 'vanilla_full', 'note': note, 'extra': { 'depth': 0 } } %}
            {{ NoteFactory.constructor(args) }}
            <hr>
            {{ form(remove_repeat) }}
        </div>
    </div>
{% endblock body %}
