{% extends '/stdgrid.html.twig' %}

{% import 'cards/macros/settings.html.twig' as macros %}

{% block title %}{% trans %}Settings{% endtrans %}{% endblock %}

{% block body %}
    <nav class='frame-section frame-section-padding'>
        <h1 class="frame-section-title">Settings</h1>
        <ul>
            <li>
                {% set profile_tabs = [{'title': 'Personal Info', 'desc': 'Nickname, Homepage, Bio and more.', 'id': 'settings-personal-info', 'form': personal_info_form}] %}
                {% set profile_tabs = profile_tabs|merge(handle_event('PopulateSettingsTabs', app.request, 'profile')) %}
                {{ macros.settings_details_container('Profile', 'Personal Information, Avatar and Profile', 'settings-profile-details', profile_tabs, _context) }}
            </li>
            <li>
                {% set muting_tabs = handle_event('PopulateSettingsTabs', app.request, 'muting') %}
                {{ macros.settings_details_container('Muting', 'Blocked tags and actors', 'settings-muting-details', muting_tabs, _context) }}
            </li>
            <li>
                {{ macros.settings_details_element('Email', 'Set incoming and outgoing email settings', 'settings-email-details', email_form, _context) }}
            </li>
            <li>
                {{ macros.settings_details_element('Password', 'Change current password', 'settings-password-details', password_form, _context) }}
            </li>
            <li>
                {{ macros.settings_details_element('Language', 'Select and set language preferences', 'settings-language-details', language_form, _context) }}
            </li>
            <li>
                {% set colour_tabs = handle_event('PopulateSettingsTabs', app.request, 'colours') %}
                {{ macros.settings_details_container('Colours', 'Customize your interface colours', 'settings-colour-details', colour_tabs, _context) }}
            </li>
            <li>
                {{ macros.settings_details_container('Notifications', 'Enable/disable notifications (Email, XMPP, Replies...)', 'notifications', tabbed_forms_notify, _context) }}
            </li>
            <li>
                {% set other_tabs = handle_event('PopulateSettingsTabs', app.request, 'api') %}
                {{ macros.settings_details_container('API', 'API settings', 'settings-other-details', other_tabs, _context) }}
            </li>
        </ul>
    </nav>
{% endblock body %}

{% block javascripts %}{% endblock %}
