{% extends 'stdgrid.html.twig' %}

{% block body %}
    <section class="frame-section frame-section-padding">
        <h1>{% trans %}Attachment %title%{% endtrans %}</h1>
        {% include '/cards/blocks/attachment.html.twig' with {'attachment': attachment, 'note': note, 'title': title} only %}
        <a class="frame-section-button-like" href="{{ download }}">{% trans %}Original attachment link{% endtrans %}</a>
    </section>
{% endblock body %}
