{% block leftpanel %}
<label class="panel-left-icon" for="toggle-panel-left" tabindex="-1">{{ icon('menu', 'icon icon-left') | raw }}</label>
<a id="anchor-left-panel" class="anchor-hidden" tabindex="0" title="{% trans %}Press tab followed by a space to access left panel{% endtrans %}"></a>
<input type="checkbox" id="toggle-panel-left" tabindex="0" title="{% trans %}Open left panel{% endtrans %}">

<aside class="section-panel section-panel-left">
    <section class="panel-content accessibility-target">
        {% if app.user %}
            <section class='frame-section frame-section-padding' title="{% trans %}Your profile information{% endtrans %}">
                {% block profile_view %}{% include 'cards/blocks/profile.html.twig' with { actor: current_actor } %}{% endblock profile_view %}
                {{ block("profile_current_actor", "cards/blocks/navigation.html.twig") }}
            </section>
        {% else %}
            <section>
                {{ block("profile_security", "cards/blocks/navigation.html.twig") }}
            </section>
        {% endif %}

        {{ block("feeds", "cards/blocks/navigation.html.twig") }}

        {{ block("footer", "cards/blocks/navigation.html.twig") }}
    </section>
</aside>
{% endblock leftpanel %}
